@mixin hAndf {
    background-color: orange;
    display: inline-block;
    border-left: solid;
    border-color: white;
} 
$background-color: white;
$cl:#2A2929 ;
$cl2: #f8d825;
$cl3: rgb(97, 97, 97);

@mixin visuals ($height, $width, $color, $borderwidth) {
    height: $height;
    width: $width;
    border: solid $borderwidth;
    border-radius: 50%;
    display: inline-block;
    border-color: $color;
    margin-top: 10px;
    filter: drop-shadow(2px 3px 3px $color + -100);
}

#htable li {
    @include hAndf();
    color: white;
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 22pt;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -10px;
    padding-right: 0px;
    padding-left: 20px;
    text-align: right;
    &:first-child {
        font-size: 30pt;
        margin-right: 180px;
        margin-left: -20px;
        border: none;
    }
    &:nth-child(2) {
        text-decoration: underline;
    }
}
nav {
    @include hAndf();
    width: 100%;
    height: 60px;
    margin-top: 0px;
}
.firstRing {
    display: inline-flex;
    margin-left: 40%;
    margin-top: 120px;
}
@mixin rings {
    display: inline-block;
    border: solid;
    border-width: 5px;
    border-radius: 90px;
}

#goo1, #goo2 {
   @include rings();
    width: 40px;
    height: 40px;
    border-color: orange;
    margin-top: -10px;
}
#goo3 {
    font-size: 50px;
    font-family: 'Macondo Swash Caps', cursive;
    margin: -30px;
    margin-left: 20px;
    margin-right: 20px;
}
#goo5 {
    font-size: 40pt;
    font-family: 'Macondo Swash Caps', cursive;
    margin-right: 20px;
    margin-left: 48%;
    margin-top: -115px;
    padding-top: -40px;
}
#goo4 {
    @include rings();
     width: 120px;
     height: 120px;
     border-color: yellow;
     margin-top: 23px;
     margin-left: 35%;
     margin-right: 120px;
     border-width: 15px;
     box-shadow: 10px 10px 0px 1px rgba(240,194,12,1);
 }
 #lsec{
    padding: 20px;
    margin-top: 120px;
    margin-left: 35%;
    margin-right: 120px;
    border-width: 15px;
#botText {
        margin-top: 60px;
        font-family: 'Macondo Swash Caps', cursive;
        font-size: 40pt;

    }
}
.black {
    @include visuals(30px, 30px, $cl3, 2px);
}


 
body {
    background-image: url(https://image.freepik.com/free-vector/halftone-white-background_115579-724.jpg);
}


@for $i from 1 through 6 {
    #gl-#{$i} {
        height: 25px * $i;
        width: 25px * $i;
        border-width: 3px * $i;
        margin: -7px * $i;
    }
}

.ringy {
    @include visuals (30px, 30px, $cl, 2px);
}
 
.wrap {
    position: relative;
    width: 500px;
    height: auto;
    margin-top: 80px;
}
.test {
    width: 160px;
    background-color: orange;
    display: inline-block;
    vertical-align: text-top;
    margin-bottom: 5px;
    color: white;
    padding-right: 20px;
    font-family: 'Macondo Swash Caps', cursive;
    margin-left: 30px;
    font-size: 16pt;
    height: 20px;

}
.test2 {
    width: 220px;
    background-color: orange;
    display: inline-block;
    vertical-align: text-top;
    margin-bottom: 5px;
    color: white;
    margin-left: 180%;
    margin-top: -65px;
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 22pt;
    height: 100px;
    padding-bottom: 15px;
    
   
}
span {
    display: block;
    font-size: 15pt;
  }
span::before {
    content: attr(data-text);
    background: orange;
    padding: -10px 12px;
    
  }

footer {
    background-color: orange;
    height: 200px;
    margin-top: 100px;
    width: 100%;
}
